.header {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(2, 130, 250);
}

.register {
    text-decoration: none;
    color: #FFF;
}

.search {
    padding: 10px;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    outline: none;
}