.header {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #27319d;
}

.register {
    text-decoration: none;
    color: #FFF;
}

.search {
    padding: 10px;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    outline: none;
}